<div class="default-container">
  <div class="main-content-container">
    <div class="default-container">
      <mat-form-field>
        <label>Make</label>
        <mat-select [(ngModel)]="car.make">
          <mat-option *ngFor="let make of carMakes" [value]="make">{{ make }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <label>Model</label>
        <input matInput [(ngModel)]="car.model">
      </mat-form-field>
      <mat-form-field>
        <label>Year</label>
        <input matInput [(ngModel)]="car.year">
      </mat-form-field>
      <mat-form-field>
        <label>Mileage</label>
        <input matInput [(ngModel)]="car.mileage">
      </mat-form-field>
      <button mat-flat-button (click)="getStatistics()">Get Statistics</button>
    </div>
    <div>
      <mat-card appearance="raised" class="response-container">
        <div *ngIf="statistics">
          <p>Min Price: {{ statistics.minPrice }}</p>
          <p>Max Price: {{ statistics.maxPrice }}</p>
          <p>Median Price: {{ statistics.medianPrice }}</p>
          <p>Mean Price: {{ statistics.meanPrice }}</p>
        </div>
        <div *ngIf="isLoading" class="loading">
          <p>Gathering data from the web, this may take a few seconds</p>
          <mat-spinner diameter="50"></mat-spinner>
        </div>
        <div *ngIf="!statistics && !isLoading">
          <h3>Find your car's value</h3>
        </div>
      </mat-card>
    </div>
  </div>
</div>
